p#timep {
    font-size: 1.6em;
}

p#infortime {
    font-size: 2.0em;
}
.tbutton {
    width: 40%;
    height: 60px;
    display: inline;
}

button.btime, button.btime4 {
    font-size: 1.4em;
    width: 18%;
    height: 50px;
    margin: 2%;
}